/* Styles go here */

body {
  margin: 0 auto;
  background-color: white;
  font-family:  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

.box-dody {
  margin: 0 auto;
  border: 7px solid;
  border-color: white;
  width: 960px;
}

/*=====================
ヘッダー
=====================*/

header {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

header nav{
  width: 400px;
  margin-left: auto;
}

header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  width: 100px;
}

header li:hover{
  background-color: MistyRose;
}

header li:active{
  background-color: #e94b41;
}

header li:active a{
  color: white;
}

header li.current{
  background-color: #e94b41;
}

header li.current a{
  color: white;
}

header a{
  text-align: center;
  display: block;
  line-height: 90px;
  text-decoration: none;
  color: black;
}

.header-title {
  float: left;
  margin-top: 13px;
  margin-left: 20px;
  height: 100%;
  vertical-align: bottom;
}

/*=====================
メインビジュアル
=====================*/

.main-visual {
  margin-top: 5px;
  box-shadow:5px 5px 10px;
}

/*=====================
パンくずリスト
=====================*/

.breadcrumbs ol {
  margin: 16px auto 0;
  padding: 0px;
}
.breadcrumbs li {
  display: inline;
  list-style-type: none;
}
.breadcrumbs li:before {
  content: " > ";
}
.breadcrumbs li:first-child:before {
  content:"";
}
.breadcrumbs a {
  color: black;
}

/*=====================
コンテンツエリア
=====================*/

.contents {
  zoom: 1;
  width: 960px;
}

/*=====================
ローカルナビ
=====================*/

.contents-sub {
  float: left;
  width: 240px;
}

.local-nav ul {
  padding: 0 0 8px;
  border-radius: 5px;
  background: #fafafa;
}

.local-nav li {
  list-style-type: none;
}

.local-nav li:first-child {
  border-bottom: 2px solid #e94b41;
  font-size: 1.2em;
}

.local-nav li:first-child a:after {
  border: none;
}

.local-nav li:last-child a:after {
  border: none;
}

.local-nav li a {
  display: block;
  position: relative;
  padding: 17px 0 20px 40px;
  line-height: 1.57;
  color: black;
}

.local-nav li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 11px;
  border-bottom: 1px dotted #a49d96;
  width: 215px;
}

.local-nav li a:hover {
  color: #e94b41;
}

.local-nav li.current a{
  color: #e94b41;
  font-weight: bold;
}

.local-nav li.current a:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 18px;
  margin-top: -5px;
  border-right: 3px solid #e94b41;
  border-bottom: 3px solid #e94b41;
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
}

/*=====================
 メインコンテンツ
=====================*/

.contents-main {
    width: 720px;
    display: table;
}

.contents-main h1 {
    margin: 0;
}

.contents-main h1:before {
    background: #e94b41;
}

section {
    display: block;
    margin: 0 0 0 30px;
    padding: 0;
}

.outline-table {
    zoom: 1;
    margin-top: 20px; 
    border-top: 2px solid #dedede;
    border-bottom: 2px solid #dedede;
    width: 100%;
    background: #f5f5f5;
}

.outline-table:after {
    content: "";
    display: block;
    clear: both;
}

.outline-table dt:first-child {
    border-top: none;
}

.outline-table dt:first-child+dd {
    border-top: none;
}

.outline-table dt {
    box-sizing: border-box;
    float: left;
    clear: both;
    padding: 19px;
    border-top: 1px dotted #a19a93;
    width: 200px;
    font-weight: 700;
}

.outline-table dd {
    box-sizing: border-box;
    float: right;
    padding: 19px;
    margin: 0px;
    border-top: 1px dotted #a19a93;
    border-left: 1px solid #d9d9d9;
    width: 490px;
    background: #fff;
}

/*=====================
 フッター
=====================*/

footer {
  width: 290px;
  margin-left: auto;
}